.wd-parent {
    padding-left: 16px;
    padding-right: 12px;
    border-color: #2f3336;
    min-width: 550px;
}

.wd-settings {
    padding-top: 4px;
}

.wd-pos-absolute{
    position: absolute;
    left: 32px;
    top: 13px;
}

.wd-bg-color-black {background-color: black}

.wd-fg-wh {color: white}
.wd-fg-bl {
    color: #1da1f2;
}
.wd-fg-gr {
    color: #6e767d;
}
.wd-fg-red{
    color: #ff0000;
}

.wd-font-link {
    font-size: 15px;
}

.wd-font-author {
    font-size: 16px;
    font-weight: bold;
}

.wd-font-topic {
    font-size: 13px;
}

.wd-font-post {
    font-weight: bold;
    font-size: 16px;
}

.wd-font-bookmark {
    font-size: 15px;
    color: white;
}

.wd-font-summary {
    font-size: 15px;
    color: #6e767d;
}

.wd-max-wd-506 {
    max-width: 506px;
}

.wd-font-title{
    font-weight: bold;
    font-size: 13px;
}

.wd-font-search {
    color: lightgrey;
}

.wd-font-heading {
    font-size: 20px;
    color: white;
}

.wd-font-handle {
    font-size: 16px;
    color: #6e767d;
}

.wd-image-100x100 {
    height: 100px;
    width: 100px;
    border-radius: 12px;
    padding-right: 4px;
}

.wd-image-circle {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.wd-image-bookmark {
    height: 264px;
    width: 504px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.wd-pd-top {padding-top: 4px}
.wd-pd-top12 {padding-top: 12px}
.wd-pd-link {padding: 16px}
.wd-pd-post {
    padding: 12px 0px 12px 0px;
}
.wd-pd-left {padding-left: 12px}
.wd-pd-right {
    padding-right: 12px;
}
.wd-post{
    width: calc(100% - 116px);
}

.wd-bookmark-wd {
    width: calc(100% - 64px);
}

.wd-min-550{
    min-width: 550px;
}

.wd-bar-width {
    width: calc(100% - 50px);
}

.wd-bd-active {
    border-bottom: 3px solid;
    border-bottom-color: #1da1f2;
}

.wd-bottom {
    border-bottom: 2px solid;
    border-color: #2f3336;
}

.wd-bottom-thin {
    border-bottom: 1px solid;
    border-color: #2f3336;
}

.wd-float-left{
    float: left;
    overflow: hidden;
}
.wd-float-right{
    float: right;
}
.wd-float-done{
    clear: both;
}
.wd-grid-quarter {
    float: left;
    width: 25%;
}

.wd-rounded-bottom{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.fa-stack.small { font-size: 0.5em;}

.btn.btn-rounded {
    border-radius: 50px;
}

.btn.btn-full {
    width: 100%;
}

.btn.wd-follow {
    position: absolute;
    bottom: 12px;
    right: 6px;
}

.form-control.wd-search{
    border-radius: 50px;
    height: 2em;
    text-indent: 36px;
    width: 100%;
}

.wd-front{
    position: relative;
    z-index: 10;
}