.wd-image-84x84 {
    height: 84px;
    width: 84px;
    border-radius: 12px;
    padding-right: 4px;
}

.wd-image-circle {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.fa-stack.small { font-size: 0.5em;}

.btn.btn-rounded {
    border-radius: 50px;
}

.btn.btn-full {
    width: 100%;
}

.btn.wd-follow {
    position: absolute;
    bottom: 12px;
    right: 6px;
}

.form-control.wd-search{
    border-radius: 50px;
    height: 2em;
    text-indent: 36px;
    width: 100%;
}

.wd-front{
    position: relative;
    z-index: 10;
}

.btn.wd-center {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wd-full-width {
    width: 100%;
}